<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Application Launchpad</title>
  </head>
  <body>
    <h1>Launch other applications:</h1>
    <ul>
      <li><a href="http://localhost:6419/">Local Grip Markdown Renderer</a></li>
    </ul>
  </body>
</html>
